<div class="container">
  {{nbd-header}}

  <section class="row releases">
    {{#each model as |release|}}
      <div class="one-third column release">
        {{#link-to 'release' release}}
          <img src={{release.cover}} alt="{{release.artist}}: {{release.title}}">
        {{/link-to}}
      </div>
    {{/each}}
  </section>
</div>
