.about, .contact {
  background-color: $pink;
  height: 180px;
  width: 100%;
}

.about-footer, .contact-footer {
  margin-top: 18px;
  margin-right: 80px;
  margin-bottom: 30px;
  text-align: right;

  p {
    font-size: 1rem;
    line-height: normal;
    margin-bottom: 0;
  }
}

.contact-footer {
  .email, .development-by {
    margin-bottom: 2px;
  }

  nav {
    a {
      font-size: 1.6rem;
    }
  }
}

/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .about-footer, .contact-footer {
    margin-right: 180px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than HD desktop */
@media (min-width: 1200px) {
}
