.artists {
  margin-bottom: 30px;

  .artist {
    margin-bottom: 10px;
    margin-left: 0;
    position: relative;

    img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 255px;
      height: 255px;
      transition: opacity 750ms ease-in;
    }

    p {
      color: $white;
      font-family: $ahamono;
      font-size: 1.2rem;
      margin-bottom: 0;
      position: absolute;
      bottom: 8px;
      left: 75px;
      text-transform: lowercase;
    }
  }
}

/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .artists {
    .artist {
      width: 100%;

      p {
        left: 130px;
      }
    }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .artists {
    .artist {
      p {
        left: 215px;
      }
    }
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .artists {
    margin-bottom: 0;
    padding-right: 5px;
    padding-left: 5px;

    .artist {
      width: 33.33%;

      p {
        left: 40px;
      }

      &:hover {
        img {
          opacity: 0.25;
        }
      }
    }
  }
}

/* Larger than HD desktop */
@media (min-width: 1200px) {
  .artists {
    padding-right: 85px;
    padding-left: 85px;
  }
}
