.header-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 70px;

  object {
    height: 110px;
    width: auto;
  }
}

.header-links {
  border: 1px solid $black;
  margin-bottom: 45px;
  padding-top: 3px;
  text-align: center;

  .header-link {
    display: block;
    font-family: $ahamono;
    font-size: 1.4rem;
    letter-spacing: 6px;

    &.active {
      color: $pink;

      &:hover {
        color: $black;
      }
    }
  }
}

/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .header-links {
    .header-link {
      display: inline;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .header-links {
    .header-link {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

/* Larger than HD desktop */
@media (min-width: 1200px) {
  .header-links {
    .header-link {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}
