.listen {
  margin-bottom: 30px;
  text-align: center;

  iframe {
    width: 100%;
  }
}

/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .listen {
    iframe {
      width: 95%;
    }
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .listen {
    iframe {
      width: 92%;
    }
  }
}

/* Larger than HD desktop */
@media (min-width: 1200px) {
  .listen {
    iframe {
      width: 82%;
    }
  }
}
