.releases {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  .release {
    margin-bottom: 10px;
    margin-left: 0;

    img {
      box-shadow: 1px 1px 5px $gray;
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 255px;
      height: 255px;
      transition: opacity 750ms ease-in;
    }
  }
}

/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .releases {
    .release {
      width: 100%;
    }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .releases {
    margin-bottom: 0;
    padding-right: 5px;
    padding-left: 5px;

    .release {
      width: 33.33%;

      &:hover {
        img {
          opacity: 0.25;
        }
      }
    }
  }
}

/* Larger than HD desktop */
@media (min-width: 1200px) {
  .releases {
    padding-right: 85px;
    padding-left: 85px;
  }
}
