@font-face {
  font-family: Ahamono;
  src: url("../assets/fonts/AHAMONO-Monospaced.ttf");
}

body {
  font-family: "Ahamono", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.landing-page-logo {
  background: url('../assets/images/landing-page-logo-black-mobile.png') center center no-repeat;
  height: 220px;
  margin-top: 20px;
}

.waster-soundcloud {
  margin-top: 35px;
}

/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .landing-page-logo {
    background: url('../assets/images/landing-page-logo-black.png') center center no-repeat;
    height: 400px;

    &:hover {
      background: url('../assets/images/landing-page-logo-pink.png') center center no-repeat;
      // cursor: pointer;
    }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
