@font-face {
  font-family: Ahamono;
  src: url("../assets/fonts/AHAMONO-Monospaced.ttf");
}

body {
  font-family: "Ahamono", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.landing-page-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 80px;

  object {
    height: 171px;
    width: 370px;
  }
}

.landing-page-soundcloud {
  margin-top: 40px;
}

/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  .landing-page-logo {
    margin-top: 40px;

    object {
      height: 355px;
      width: 770px;
    }
  }

  .landing-page-soundcloud {
    margin-top: 80px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
