@import "bower_components/font-awesome/scss/font-awesome";
@import "fontello";

@import "colours";

@import "index";
@import "header";
@import "about-contact";
@import "artists";
@import "listen";
@import "releases";

@font-face {
  font-family: Ahamono;
  src: url("/assets/fonts/AHAMONO-Monospaced.ttf");
}

body {
  color: $black;
  font-family: "Ahamono", monospace;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $pink;
  }
}
