@import 'index';
@import 'header';
@import 'about-contact';
@import 'artists';
@import 'listen';
@import 'releases';

@font-face {
  font-family: Ahamono;
  src: url("../assets/fonts/AHAMONO-Monospaced.ttf");
}

body {
  font-family: "Ahamono", monospace;
}

a {
  color: #1A1919;
  text-decoration: none;

  &:hover {
    color: #DB518F;
  }
}

.page-content {
  margin-top: 45px;
}

/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than HD desktop */
@media (min-width: 1200px) {
}
