@import "bower_components/font-awesome/scss/font-awesome";
@import "fontello";

@import "colours";
@import "typography";

@import "index";
@import "header";
@import "about-contact";
@import "artists";
@import "artist";
@import "listen";
@import "releases";
@import "release";

body {
  color: $black;
  font-family: $roboto;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $pink;
  }
}
