.artist {
  p {
    font-size: 0.7em;
    line-height: normal;
    margin-bottom: 12px;
    text-align: justify;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 750px) {
  .artist {
    padding-left: 142px;
  }
}
