.header-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px 0 70px;

  object {
    height: 111px;
    width: 240px;
  }
}

.header-links {
  border: 1px solid #1A1919;
  text-align: center;

  .header-link {
    display: block;
    font-size: 16px;
    letter-spacing: 8px;
    padding-top: 3px;

    &.active {
      color: #DB518F;

      &:hover {
        color: #1A1919;
      }
    }
  }
}

/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .header-links {
    .header-link {
      display: inline;
    }
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .header-links {
    .header-link {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

/* Larger than HD desktop */
@media (min-width: 1200px) {
  .header-links {
    .header-link {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}
