.listen-soundcloud {
  align-items: center;
  display: flex;
  justify-content: center;

  iframe {
    margin-bottom: 30px;
    width: 100%;
  }
}

/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .listen-soundcloud {
    iframe {
      width: 90%;
    }
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .listen-soundcloud {
    iframe {
      width: 70%;
    }
  }
}

/* Larger than HD desktop */
@media (min-width: 1200px) {
}
