<div class="container">
  {{nbd-header}}

  <section class="row listen">
    <div class="twelve columns">
      <iframe height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/122779434&amp;color=1A1919&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=true"></iframe>
    </div>
  </section>
</div>
