<div class="container">
  {{partial 'header'}}

  <div class="row page-content">
    <div class="twelve columns">
      <section class="artists">
        {{#each artist in model}}
          <div class="artist">
            <div class="six columns">
              {{!-- <img src="{{artist.imgUrl}}" alt=""> --}}
              <div class="six columns">
                <p>{{artist.name}}</p>
                <p>{{artist.blurb}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </section>
    </div>
  </div>
</div>
