<div class="container">
  {{nbd-header}}

  <section class="row about">
  </section>

  <footer class="row about-footer">
    <div class="twelve columns">
      <p>no big deal.</p>
    </div>
  </footer>
</div>
