<div class="container">
  {{partial 'header'}}

  <div class="row page-content">
    <div class="twelve columns">
      <div class="about">
      </div>
    </div>
  </div>

  <footer class="row about-footer">
    <div class="twelve columns">
      <span>no big deal.</span>
    </div>
  </footer>
</div>
