<div class="container">
  {{partial 'header'}}

  <section class="row page-content">
    <div class="twelve columns">
      <div class="about">
      </div>
    </div>
  </section>

  <footer class="row about-footer">
    <div class="twelve columns">
      <p>no big deal.</p>
    </div>
  </footer>
</div>
