<div class="container">
  {{partial 'header'}}

  <div class="row page-content">
    <div class="twelve columns">
      <p>BLOG single-origin coffee cronut, ennui pork belly bespoke freegan keffiyeh. Shoreditch pug bespoke, selvage vinyl mustache mixtape mlkshk. Fingerstache food truck pork belly tousled banjo. Bespoke street art selfies, wolf direct trade put a bird on it food truck hoodie asymmetrical DIY High Life ennui church-key single-origin coffee. Biodiesel ethical PBR lo-fi. Semiotics organic Pinterest, four dollar toast Carles PBR&B meh. Cliche bicycle rights gastropub deep v quinoa put a bird on it.</p>
      <p>Deep v master cleanse Marfa cliche, Tumblr authentic mixtape asymmetrical post-ironic sriracha umami. Scenester actually Portland, photo booth umami chia tofu stumptown 8-bit craft beer fashion axe next level distillery mustache. Scenester aesthetic Williamsburg fap before they sold out art party. +1 messenger bag pour-over, ethical DIY lo-fi heirloom trust fund PBR occupy raw denim mumblecore. Fixie listicle artisan lumbersexual. Heirloom flannel cred, yr lomo cronut kitsch Odd Future. Fingerstache meggings Vice sartorial, normcore pork belly Banksy PBR.</p>
    </div>
  </div>

  {{partial 'footer'}}
</div>
