<div class="row footer">
  <div class="six columns footer-social-media-links">
    <a href="https://instagram.com/nbdlabel/" target="_blank">
      <i class="fa fa-instagram fa-lg"></i>
    </a>
    <a href="https://www.facebook.com/nbdlabel" target="_blank">
      <i class="fa fa-facebook fa-lg"></i>
    </a>
    <a href="https://twitter.com/nbdlabel" target="_blank">
      <i class="fa fa-twitter fa-lg"></i>
    </a>
    <a href="https://soundcloud.com/nbdlabel" target="_blank">
      <i class="fa fa-soundcloud fa-lg"></i>
    </a>
  </div>
  <div class="six columns">
  </div>
</div>
