<div class="container">
  <div class="row">
    <div class="twelve columns">
      <img class="landing-page-logo" src="assets/images/landing-page-logo-300.png" alt="">
    </div>
  </div>
</div>

{{!-- {{outlet}} --}}
