<div class="container">
  {{nbd-header}}

  <section class="row artists">
    {{#each model as |artist|}}
      <div class="one-third column artist">
        {{#link-to 'artist' artist}}
          <img src={{artist.photo}} alt={{artist.name}}>
          <p>{{artist.name}}</p>
        {{/link-to}}
      </div>
    {{/each}}
  </section>
</div>
